.product-wrapper {
    padding: 70px 0;
}

.toggle-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;

    .icon-toggle {
        cursor: pointer;
        height: 30px;
        width: 30px;
        border-radius: 5px;
    }

    .active {
        background: darkgray;
    }
}

.products-box-table {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: calc(270*4px + 150px);

    .product {
        width: 270px;
        height: 100%;
        position: relative;

        &__info-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 5px;
        }

        &__text {
            text-align: left;
            color: #7F7F7F;
        }

        &__title {
            font-size: 20px;
            font-weight: 700;
            line-height: 28px;
            color: black;
        }

        svg {
            cursor: pointer;
        }

        p {
            padding-top: 5px;
        }
    }
}

.products-box-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
    width: calc(270*4px + 150px);

    .product {
        display: flex;
        height: 100%;
        position: relative;
        border: 1px solid black;
        padding: 15px;
        border-radius: 10px;

        &__info-box {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding-top: 5px;
            padding-left: 20px;
            width: 250px;
        }

        &__text {
            text-align: left;
            color: #7F7F7F;
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        &__title {
            font-size: 20px;
            font-weight: 700;
            line-height: 28px;
            color: black;
        }

        &__price {
            margin-top: auto;
            background-color: gainsboro;
            padding: 15px;
            width: fit-content;
            border-radius: 5px;
        }

        svg {
            cursor: pointer;
            align-self: flex-end;
            padding-bottom: 15px;
        }

        p {
            padding-top: 15px;
        }
    }
}



.like-red {
    fill: red;
}

.like-no {
    fill: none
}

.basket-red {
    stroke: red;
}

.basket-no {
    stroke: "#807D7E";
}

.basket {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
}

.like {
    position: absolute;
    right: 40px;
    top: 10px;
    width: 20px;
    height: 20px;
}