.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__icon-box {
        position: relative;
    }
    
    &::before {
        content: "";
        background-color: #8A33FD;
        position: absolute;
        width: 6px;
        height: 30px;
        border-radius: 10px;
    }

    &__text {
        font-size: 34px;
        font-weight: 600;
        line-height: 33.5px;
        padding-left: 20px;
        text-decoration: none;
    }

    &__basket {
        width: 25px;
        height: 25px;
        margin-right: 15px;
        cursor: pointer;
    }

    &__like {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
}