.btn-main {
  margin-top: 30px;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px 20px;
  width: 250px;
  height: 48px;
  background: #8a33fd;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.3);
}

.img {
  width: 30%;
  background: #d9d9d9;
  display: inline-block;
  margin-bottom: 85px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 56px;
  box-sizing: border-box;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  border-radius: 16px;
  width: 560px;

  .modal-close {
    position: absolute;
    right: 16px;
    top: 16px;
    display: inline-flex;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    outline: none;
    border: none;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
  }

  .modal-header {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 32px;
    color: #191919;
  }

  h4 {
    margin: 0;
  }

  .btn {
    border-radius: 8px;
    padding: 16px 20px;
    width: 192px;
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;

    &__text-purpl {
      color: #8a33fd;
    }

    &__bg-purpl {
      background: #8a33fd;
    }
  }

  .modal-content {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #7f7f7f;

    p {
      padding-top: 5px;
    }

    img {
      display: inline-block;
      width: 276px;
      height: 140px;
      background: #d9d9d9;
      padding-top: 14px;
    }
  }

  .modal-footer {
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
  }

  .modal-footer-onetbn {
    margin-top: 50px;
  }

  .button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-btn {
    color: #0f0101;
  }

  .input {
    .input-box {
      height: 41px;
      width: 100%;
      border-radius: 4px;
      border: 1px solid #c7cccf;
      padding: 0 16px;
      box-sizing: border-box;
      line-height: normal;
      font-size: 24px;
    }
  }
}